@()

@main("Init Server") {
	<form class="form-horizontal" method="post" action="@routes.Server.doInit()">
		<div class="form-group">
			<label for="ownHost" class="col-sm-3 control-label">Eigener Host</label>
			<div class="col-sm-4">
				<input id="ownHost" name="ownHost" type="text" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="connectTo" class="col-sm-3 control-label">Verbinde zu Host (optional)</label>
			<div class="col-sm-4">
				<input id="connectTo" name="connectTo" type="text" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-4">
				<input class="btn btn-primary" type="submit" value="Einrichten">
			</div>
		</div>
	</form>
}
